
@using OzzyEntityLibraries.Services
@using OzzyEntityLibraries.DTO.Models
@Html.AntiForgeryToken()
@model CustomersDTO

@{
    ViewBag.Title = "Müşteri Güncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/ckeditor5/ckeditor.js"></script>
<form method="post" class="form-horizontal">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <strong>Müşteri Güncelle</strong>
            </div>
            <div class="card-body card-block">

 
                <div class="row form-group">
                    <div class="col col-md-3">
                        <input type="hidden" id="CustomerId"class="form-control" name="CustomerId" value="@Model.CustomerId"/>
                        <label for="text-input" class=" form-control-label">Müşteri Adi</label> 
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="text_input" name="ContactName"  class="form-control" value="@Model.ContactName">

                    </div>
                </div>

                  <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class=" form-control-label">Müşteri Telefon Numarası</label> 
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="text_input" name="Phone"  class="form-control" value="@Model.Phone">

                    </div>
                </div>

                 <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="text-input" class=" form-control-label">Müşteri Email</label> 
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" id="text_input" name="Email"  class="form-control" value="@Model.Email">

                    </div>
                </div>

                 <div class="col-md-12">

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fa fa-dot-circle-o"></i> Güncelle
                            </button>
                            <button type="reset" class="btn btn-danger btn-sm">
                                <i class="fa fa-ban"></i> Temizle
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    
    </div>
</form>

