@using OzzyEntityLibraries.DTO.Models;
<!DOCTYPE html>
<html lang="en">
<head>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ozzy Admin Panel">
    <meta name="author" content="Ozzy Ozmen Celik">
    <meta name="keywords" content="Admin Panel">

    <!-- Title Page-->
    <title>Admin Paneli</title>

    <!-- Fontfaces CSS-->
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="~/vendor/vector-map/jqvmap.min.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/theme.css" rel="stylesheet" media="all">


</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar2">
            <div class="logo">
                <a href="#">
                    <img src="~/images/icon/logo-white.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar2__content js-scrollbar1">
                <div class="account2">
                    <div class="image img-cir img-120">
                         @{
                       var UserPhoto = User.Identity.GetUserPhoto();
                       var NameSurname = User.Identity.GetNameSurname();
                   }
                        <img src="~/images/uploads/Users/@UserPhoto" alt="John Doe" />
                    </div>
                 
                    <h4 class="name">@NameSurname</h4>
                    <a href="#" id="CikisYap">Çıkış Yap</a>
                </div>
                <nav class="navbar-sidebar2">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            @Html.ActionLink("ANASAYFA", "Index", "Home")

                        </li>
                        <li>
                            @Html.ActionLink("HAKKIMDA", "Index", "AboutUs")

                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                REFERANSLAR
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    @Html.ActionLink("Referans Kategorisi", "Index", "ReferenceCategory")
                                </li>
                                <li>
                                    @Html.ActionLink("Referans Listesi", "Index", "References")
                                </li>
                                <li>
                                    @Html.ActionLink("Yeni Referans Ekle", "AddNewReferences", "References")
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                HİZMETLERİMİZ
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">

                                <li>
                                    @Html.ActionLink("Hizmet Listesi", "Index", "Hizmetler")
                                </li>
                                <li>
                                    @Html.ActionLink("Yeni Hizmet Ekle", "AddNewHizmet", "Hizmetler")
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                SAYFALAR
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    @Html.ActionLink("Sayfa Listesi", "Index", "Sayfa")
                                </li>
                                <li>
                                    @Html.ActionLink("Yeni Sayfa Ekle", "AddNewSayfa", "Sayfa")
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                GALERİ
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    @Html.ActionLink("Galeri Kategorisi", "Index", "GalleryCategory")
                                </li>
                                <li>
                                    @Html.ActionLink("Galeri Listesi", "Index", "Gallery")

                                </li>
                                <li>
                                    @Html.ActionLink("Yeni Galeri Ekle", "AddNewGallery", "Gallery")
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                               YAZILR
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    @Html.ActionLink("Yazı Kategorisi", "Index", "PostCategory")
                                </li>
                                <li>
                                    @Html.ActionLink("Yazı Listesi", "Index", "Post")
                                </li>
                                <li>
                                    @Html.ActionLink("Yeni Yazı Ekle", "AddNewPost", "Post")
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                MÜŞTERİLER
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">

                                <li>
                                    @Html.ActionLink("Müşteri Listesi", "Index", "Musteriler")
                                </li>
                                <li>
                                    @Html.ActionLink("Yeni Müşteri Ekle", "AddNewMusteri", "Musteriler")
                                </li>
                                <li>
                                        @Html.ActionLink("Yeni Müşteri Ekle", "TopluSmsGonder", "Musteriler")
                                    </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                KULLANICILAR
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">

                                <li>
                                    @Html.ActionLink("Kullanıcı Listesi", "Index", "Users")
                                </li>
                                <li>
                                    @Html.ActionLink("Yeni Kullanıcı Ekle", "AddNewUser", "Users")
                                </li>
                                
                            </ul>
                        </li>
                        <li>
                            @Html.ActionLink("SİTE AYARLARI", "Index", "SiteSettings")

                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop2">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap2">
                            <div class="logo d-block d-lg-none">
                                <a href="#">
                                    <img src="~/images/icon/logo-white.png" alt="CoolAdmin" />
                                </a>
                            </div>
                            <div class="header-button2">

                            
                                <div class="header-button-item mr-0 js-sidebar-btn">
                                    <i class="zmdi zmdi-menu"></i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <aside class="menu-sidebar2 js-right-sidebar d-block d-lg-none">
                <div class="logo">
                    <a href="#">
                        <img src="~/images/icon/logo-white.png" alt="Cool Admin" />
                    </a>
                </div>
                <div class="menu-sidebar2__content js-scrollbar2">
                    <div class="account2">
                        <div class="~/image img-cir img-120">
                            <img src="~/images/uploads/Users/@UserPhoto" alt="John Doe" />
                        </div>
                        <h4 class="name">@NameSurname</h4>
                        <a href="#">Çıkış Yap</a>
                    </div>
                    <nav class="navbar-sidebar2">
                        <ul class="list-unstyled navbar__list">
                            <li>
                                @Html.ActionLink("ANASAYFA", "Index", "Home")

                            </li>
                            <li>
                                @Html.ActionLink("HAKKIMDA", "Index", "AboutUs")

                            </li>
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    REFERANSLAR
                                    <span class="arrow">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">
                                    <li>
                                        @Html.ActionLink("Referans Kategorisi", "Index", "ReferenceCategory")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Referans Listesi", "Index", "References")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Yeni Referans Ekle", "AddNewReferences", "References")
                                    </li>
                                </ul>
                            </li>

                           <li class="has-sub">
                            <a class="js-arrow" href="#">
                                HİZMETLERİMİZ
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">

                                <li>
                                    @Html.ActionLink("Hizmet Listesi", "Index", "Hizmetler")
                                </li>
                                <li>
                                    @Html.ActionLink("Yeni Hizmet Ekle", "AddNewHizmet", "Hizmetler")
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                SAYFALAR
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    @Html.ActionLink("Sayfa Listesi", "Index", "Sayfa")
                                </li>
                                <li>
                                    @Html.ActionLink("Yeni Sayfa Ekle", "AddNewSayfa", "Sayfa")
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                GALERİ
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    @Html.ActionLink("Galeri Kategorisi", "Index", "GalleryCategory")
                                </li>
                                <li>
                                    @Html.ActionLink("Galeri Listesi", "Index", "Gallery")

                                </li>
                                <li>
                                    @Html.ActionLink("Yeni Galeri Ekle", "AddNewGallery", "Gallery")
                                </li>
                            </ul>
                        </li>
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                               YAZILR
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">
                                <li>
                                    @Html.ActionLink("Yazı Kategorisi", "Index", "PostCategory")
                                </li>
                                <li>
                                    @Html.ActionLink("Yazı Listesi", "Index", "Post")
                                </li>
                                <li>
                                    @Html.ActionLink("Yeni Yazı Ekle", "AddNewPost", "Post")
                                </li>
                            </ul>
                        </li>
                            <li class="has-sub">
                                <a class="js-arrow" href="#">
                                    MÜŞTERİLER
                                    <span class="arrow"> 
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="list-unstyled navbar__sub-list js-sub-list">

                                    <li>
                                        @Html.ActionLink("Müşteri Listesi", "Index", "Musteriler")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Yeni Müşteri Ekle", "AddNewMusteri", "Musteriler")
                                    </li>
                                    <li>
                                        @Html.ActionLink("Yeni Müşteri Ekle", "TopluSmsGonder", "Musteriler")
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub">
                            <a class="js-arrow" href="#">
                                KULLANICILAR
                                <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="list-unstyled navbar__sub-list js-sub-list">

                                <li>
                                    @Html.ActionLink("Kullanıcı Listesi", "Index", "Users")
                                </li>
                                <li>
                                    @Html.ActionLink("Yeni Kullanıcı Ekle", "AddNewUser", "Users")
                                </li>
                                
                            </ul>
                        </li>
                            <li>
                                @Html.ActionLink("SİTE AYARLARI", "Index", "SiteSettings")

                            </li>
                        </ul>
                    </nav>
                </div>
            </aside>
            <!-- END HEADER DESKTOP-->
            <!-- BREADCRUMB-->
            <section class="au-breadcrumb m-t-75">
                <div class="section__content section__content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="au-breadcrumb-content">
                                    <div class="au-breadcrumb-left">
                                        <span>Hoş geldin : </span>
                                        <ul class="list-unstyled list-inline au-breadcrumb__list">

                                            <text style="color:cornflowerblue">@NameSurname </text>
                                        </ul>

                                    </div>
                                    <div class="au-breadcrumb-left">
                                        <span>Tarih : </span>
                                        <ul class="list-unstyled list-inline au-breadcrumb__list">

                                            <text style="color:cornflowerblue">@DateTime.Now.ToString() </text>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BREADCRUMB-->

            <section>
                @RenderBody()
            </section>

            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>Copyright © 2020 Admin Panel. All rights reserved. Created <a href="https://www.linkedin.com/in/ozmencelik/">Ozzy Ozmen Celik</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

   <script src="~/ckeditor5/ckeditor.js"></script>
    <!-- Jquery JS-->
    <script src="~/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/vendor/slick/slick.min.js"></script>
    <script src="~/vendor/wow/wow.min.js"></script>
    <script src="~/vendor/animsition/animsition.min.js"></script>
    <script src="~/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="~/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/vendor/select2/select2.min.js"></script>
    <script src="~/vendor/vector-map/jquery.vmap.js"></script>
    <script src="~/vendor/vector-map/jquery.vmap.min.js"></script>
    <script src="~/vendor/vector-map/jquery.vmap.sampledata.js"></script>
    <script src="~/vendor/vector-map/jquery.vmap.world.js"></script>

    <!-- Main JS-->
    <script src="~/vendor/main.js"></script>

    <script type="text/javascript">(function () {
            var options = {
                whatsapp: "+905055174896",
                call_to_action: "Merhaba, nasıl yardımcı olabilirim?",
                position: "right",
            };
            var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();</script>

    <script>


        $("#CikisYap").on("click", function () {

            




    });
    </script>

</body>

</html>
<!-- end document-->
